<div id="header">
  <div class="container_12">
    <div class="grid_5 alpha suffix_3"><a id="sq" href="/" class="with-text">InnovationSquare - Innovation for innovative companies, support organizations and investors.</a></div>
    <div id="tab" class="grid_4">
      <label>Contribute:</label>
      <a href="https://github.com/InnovationSquare/innovationsq.com">GitHub</a>
      <a href="https://trello.com/innovationsq">Trello</a>
      <a href="https://twitter.com/InnovationSq">@InnovationSq</a>
    </div>
    <div id="signup" class="email-signup">
      <form action="http://calebwright.us4.list-manage1.com/subscribe/post?u=f42fa2678b3ec49b29bdfe0be&amp;id=a0e1c24291" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      	<label for="mce-EMAIL">Stay in the loop!</label>
        <input type="email" value="Enter email" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>
</div>
<div class="article">
  <div class="container_12">
    <div class="grid_12 pitch">
      <h1>See innovation at work.</h1>
      <h2>The online hub for <a href="http://research.ncsu.edu/innovation/">#innovateRAL</a>.</h2>
      <p>Born from the ideas of the Innovation Summit, InnovationSquare<br>is an unofficial online community for the innovation ecosystem.<br />
      Want to contribute or have questions? Contact Caleb Wright (<a href="https://twitter.com/calebwright">@calebwright</a>)</p>
    </div>
    <div class="grid_12 who-is-involved">
      <label>Who is Involved</label>
      <ul class="clean">
        <li class="companies">
          <h3>Innovative Companies</h3>
          <h4>Share experiences and be thought leaders</h4>
        </li>
        <li class="organizations">
          <h3>Catalyst &amp; Support Organizations</h3>
          <h4>Share resources and knowledge</h4>
        </li>
        <li class="investors">
          <h3>Investors</h3>
          <h4>Follow and seek new opportunities</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="container_12 layer-1">
    <div class="grid_3">
      <img src="/images/profile.jpg" width="218" height="218" alt="Converse, Share and Recommend">
    </div>
    <div class="grid_9">
      <dl>
        <dt>Converse with your Peers</dt>
        <dd>Exclusive to those directly involved.</dd>
        <dt>Share Anything</dt>
        <dd>Documents, pitch decks, forms and video.</dd>
        <dt>Recommend &amp; Curate</dt>
        <dd>Discover and "like" quality companies and ideas</dd>
      </dl>
    </div>
  </div>
  <div class="container_12 layer-2">
    <div class="grid_3">
      <img src="/images/local.jpg" width="218" height="218" alt="Local, Open Source and Contribute">
    </div>
    <div class="grid_9">
      <dl>
        <dt>Local</dt>
        <dd>Exclusive to Raleigh, RTP and the Triangle</dd>
        <dt>Open Source</dt>
        <dd>Fork us on <a href="https://github.com/InnovationSquare/innovationsq.com">GitHub</a> - Built open source from the ground up</dd>
        <dt>Follow &amp; Contribute</dt>
        <dd><a href="https://twitter.com/InnovationSq">@InnovationSq</a> - Plan with us on <a href="https://trello.com/innovationsq">Trello</a></dd>
      </dl>
    </div>
    <div class="grid_9 prefix_3">
      <div id="footerSignup" class="email-signup">
        <form action="http://calebwright.us4.list-manage1.com/subscribe/post?u=f42fa2678b3ec49b29bdfe0be&amp;id=a0e1c24291" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        	<label for="mce-EMAIL">Stay in the loop!</label>
          <input type="email" value="Enter email" name="EMAIL" class="required email" id="mce-EMAIL">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>
    </div>
  </div>
  
</div>