<header>
  <div class="container_12">
    <div class="grid_5 alpha"><a id="sq" href="/" class="with-text">InnovationSquare - Innovation for innovative companies, support organizations and investors.</a></div>
    <div class="grid_7"></div>
  </div>
</header>